.wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title {
    font: small-caps bold 24px/1 sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding: 0;
    outline: none;
    transition: all 0.2s ease-in-out;
    float: right;
}

.switch:hover {
    transform: scale(1.1);
}

.switch:focus {
    box-shadow: 0px 0px 0px 2px #000000;
}

.switch svg {
    fill: #FFFFFF;
    height: 24px;
    width: 24px;
}
